.footer {
    background-color: $color-black;
    padding: 1.5rem;

    &__paragraph {
        color: $color-white;
        font-weight: 300;
        text-align: center;
    }

    &__link {
        color: inherit;
        font-weight: 600;
        text-decoration: none;
        transition: all .2s;

        &:hover,
        &:active {
            @media (pointer: fine) {
                color: $color-primary-2;
            }
        }
    }
}