.hero {
    width: 100%;

    &-logo-box {
        width: 46%;

        @media only screen and (orientation: portrait) {
            padding: 8%;
        }
        @media only (orientation: landscape) {
            margin-bottom: 3rem;
            padding: 0;
            padding-top: 8%;
            width: 40%;
        }

        & .hero__link {
            width: fit-content;
        }

        & .hero-logo {
            display: block;
            max-width: 100%;
        }
    }

    &-img-box {
        overflow: hidden;
        width: 100%;

        @media only screen and (min-width: 480px) {
            border-radius: 20px;
            box-shadow: 0 5px 12px rgba($color-black, .2);
            margin: 0 auto;
            width: 90%;
        }
        @media only screen and (min-width: 600px) and (max-height: 420px) {
            display: none;
        }
        @media only screen and (min-width: 768px) and (min-height: 421px) {
            width: 70%;
        }
        @media only screen and (min-width: 1000px) and (min-height: 421px) {
            display: none;
        }

        & .hero-img {
            display: block;
            width: 100%;
        }
    }
}