.infographic {
    @include flexRow(false);
    @include flexContent($align: center);
    
    height: 100%;

    @media only screen and (min-width: 600px) and (max-height: 420px) {
        padding: 0 3%;
    }
    @media only screen and (min-width: 600px) and (min-height: 421px) {
        padding: 0 10%;
    }
    @media only screen and (min-width: 755px) and (min-height: 421px){
        padding: 0 15%;
    }
    @media only screen and (min-width: 1000px) and (max-height: 420px) {
        padding: 0 5%;
    }
    @media only screen and (min-width: 1000px) and (min-height: 421px) {
        padding: 0 5%;
    }
    @media only screen and (min-width: 1300px) and (min-height: 421px) {
        padding: 0 8%;
    }
}